.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 6px;
}

.code {
  background: #f4f4f4;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  font-size: 0.9em;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  text-align: center;
}

.center h1 {
  font-size: 3rem;
  margin: 0;
  color: #111;
}

.center p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #666;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1000px;
  width: 100%;
  z-index: 1;
  gap: 1rem;
}

.card {
  padding: 1.5rem;
  padding-left: 1.2rem;
  border-radius: 6px;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.card:hover,
.card:focus,
.card:focus-visible {
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.card:hover span {
  transform: translateX(4px);
}

@media (prefers-color-scheme: dark) {
  .code {
    background: #111;
    border: 1px solid #333;
  }
  .center h1 {
    color: #fff;
  }
  .center p {
    color: #aaa;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 2rem;
  }
  .center h1 {
    font-size: 2rem;
  }
}
